.tabbar, .tabs-ios, .tabs-md , .tabs-wp{
    .tab-button-icon {
        background-repeat:no-repeat;
        background-position:center;
        height:24px;
        width:24px;
        background-size:contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        &:before {
            display:none;
        }
    }
}

.tabs-ios {
  a[aria-selected=false]{
    .tab-button-icon[ng-reflect-name=home], .tab-button-icon[aria-label="home"] {
        background-image: url(../assets/imgs/launches-inactive.png);
    }
    .tab-button-icon[ng-reflect-name=rockets], .tab-button-icon[aria-label="rockets"] {
        background-image: url(../assets/imgs/rockets-inactive.png);
    }
    .tab-button-icon[ng-reflect-name=capsules], .tab-button-icon[aria-label="capsules"] {
        background-image: url(../assets/imgs/capsules-inactive.png);
    }
    .tab-button-icon[ng-reflect-name=launchpads], .tab-button-icon[aria-label="launchpads"] {
        background-image: url(../assets/imgs/launchpads-inactive.png);
    }
    .tab-button-icon[ng-reflect-name=settings], .tab-button-icon[aria-label="settings"] {
        background-image: url(../assets/imgs/settings-inactive.png);
    }
  }
 a[aria-selected=true] {
   //führ eventuellen text
   //span {
      //color: #f00; //whatever colour you want to use for the text
    //}
    .tab-button-icon[ng-reflect-name=home], .tab-button-icon[aria-label=home] {
        background-image: url(../assets/imgs/launches-active.png);
    }
    .tab-button-icon[ng-reflect-name=rockets], .tab-button-icon[aria-label=rockets] {
        background-image: url(../assets/imgs/rockets-active.png);
    }
    .tab-button-icon[ng-reflect-name=capsules], .tab-button-icon[aria-label=capsules] {
        background-image: url(../assets/imgs/capsules-active.png);
    }
    .tab-button-icon[ng-reflect-name=launchpads], .tab-button-icon[aria-label=launchpads] {
        background-image: url(../assets/imgs/launchpads-active.png);
    }
    .tab-button-icon[ng-reflect-name=settings], .tab-button-icon[aria-label=settings] {
        background-image: url(../assets/imgs/settings-active.png);
    }
  }
}

.tabs-md {
  a[aria-selected=false]{
    .tab-button-icon[ng-reflect-name=home], .tab-button-icon[aria-label="home"] {
        background-image: url(../assets/imgs/launches-inactive.png);
    }
    .tab-button-icon[ng-reflect-name=rockets], .tab-button-icon[aria-label="rockets"] {
        background-image: url(../assets/imgs/rockets-inactive.png);
    }
    .tab-button-icon[ng-reflect-name=capsules], .tab-button-icon[aria-label="capsules"] {
        background-image: url(../assets/imgs/capsules-inactive.png);
    }
    .tab-button-icon[ng-reflect-name=launchpads], .tab-button-icon[aria-label="launchpads"] {
        background-image: url(../assets/imgs/launchpads-inactive.png);
    }
    .tab-button-icon[ng-reflect-name=settings], .tab-button-icon[aria-label="settings"] {
        background-image: url(../assets/imgs/settings-inactive.png);
    }
  }

 a[aria-selected=true] {
   //führ eventuellen text
   //span {
      //color: #f00; //whatever colour you want to use for the text
    //}
    .tab-button-icon[ng-reflect-name=home], .tab-button-icon[aria-label=home] {
        background-image: url(../assets/imgs/launches-active.png);
    }
    .tab-button-icon[ng-reflect-name=rockets], .tab-button-icon[aria-label=rockets] {
        background-image: url(../assets/imgs/rockets-active.png);
    }
    .tab-button-icon[ng-reflect-name=capsules], .tab-button-icon[aria-label=capsules] {
        background-image: url(../assets/imgs/capsules-active.png);
    }
    .tab-button-icon[ng-reflect-name=launchpads], .tab-button-icon[aria-label=launchpads] {
        background-image: url(../assets/imgs/launchpads-active.png);
    }
    .tab-button-icon[ng-reflect-name=settings], .tab-button-icon[aria-label=settings] {
        background-image: url(../assets/imgs/settings-active.png);
    }
  }
}

.tabs-wp {
  a[aria-selected=false]{
    .tab-button-icon[ng-reflect-name=home], .tab-button-icon[aria-label="home"] {
        background-image: url(../assets/imgs/launches-inactive.png);
    }
    .tab-button-icon[ng-reflect-name=rockets], .tab-button-icon[aria-label="rockets"] {
        background-image: url(../assets/imgs/rockets-inactive.png);
    }
    .tab-button-icon[ng-reflect-name=capsules], .tab-button-icon[aria-label="capsules"] {
        background-image: url(../assets/imgs/capsules-inactive.png);
    }
    .tab-button-icon[ng-reflect-name=launchpads], .tab-button-icon[aria-label="launchpads"] {
        background-image: url(../assets/imgs/launchpads-inactive.png);
    }
    .tab-button-icon[ng-reflect-name=settings], .tab-button-icon[aria-label="settings"] {
        background-image: url(../assets/imgs/settings-inactive.png);
    }
  }

 a[aria-selected=true] {
   //führ eventuellen text
   //span {
      //color: #f00; //whatever colour you want to use for the text
    //}
    .tab-button-icon[ng-reflect-name=home], .tab-button-icon[aria-label=home] {
        background-image: url(../assets/imgs/launches-active.png);
    }
    .tab-button-icon[ng-reflect-name=rockets], .tab-button-icon[aria-label=rockets] {
        background-image: url(../assets/imgs/rockets-active.png);
    }
    .tab-button-icon[ng-reflect-name=capsules], .tab-button-icon[aria-label=capsules] {
        background-image: url(../assets/imgs/capsules-active.png);
    }
    .tab-button-icon[ng-reflect-name=launchpads], .tab-button-icon[aria-label=launchpads] {
        background-image: url(../assets/imgs/launchpads-active.png);
    }
    .tab-button-icon[ng-reflect-name=settings], .tab-button-icon[aria-label=settings] {
        background-image: url(../assets/imgs/settings-active.png);
    }
  }
}