page-launch-list {

  ion-card {
    text-align: center;
  }

  .card-title {
    font-size: 2.2em;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.2em;
    color: #fff;
  }

  #title-container {
    position: absolute;
    top: 50%;
    width: 100%;
    transform : translateY(-50%);
  }

  #img-launch-container {
    position: relative;
  }

  #opacity-launch {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.6;
  }

}
