page-launch-list {

  ion-card {
    text-align: center;
  }

  .card-title {
    font-size: 2.2em;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.2em;
    color: #fff;
  }

  #title-container {
    position: absolute;
    top: 20%;
    width: 100%;
    transform : translateY(-20%);
  }

  #content-container {
    position: absolute;
    top: 65%;
    width: 100%;
    transform : translateY(-65%);
  }

  #video-container {
    position: absolute;
    top: 90%;
    width: 100%;
    transform : translateY(-90%);
  }

  #img-launch-container {
    position: relative;
  }

  #opacity-launch {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.5;
  }

  .white {
    color: #fff !important;
  }

  .small-text {
    font-size: 0.9em;
  }

  #segment-choice-launches {
    /*position: fixed !important;*/
    position: relative;
    padding: 0px !important
    /*height: 40px;
    top: 46.5%;
    padding: 10px !important;
    z-index: 2;
    background: #fff;*/
  }

  #list-launches {
    position: absolute;
    top: 0%;
    width: 100%;
    transform : translateY(-0%);
  }

}
