<!--
  Generated template for the LaunchListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.-->

  <ion-header>
    <ion-navbar>
      <ion-title>spaceXionic</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content class="card-background-page">
    <div style="height: 100%; width: 100%; display: flex; flex-direction: column;background-image: url('assets/imgs/etoiles.jpg')">

      <ion-card *ngIf="nextLaunch" style="flex: 0 0 auto;">
        <div id="img-launch-container" style="border: 1px solid white;">
          <div class="opacity-launch"></div>
          <img src="assets/imgs/launch2.jpg"/>
          <div id="title-container">
            <div class="card-title">Next Launch</div>
            <div class="card-subtitle">{{timeForNextLaunch}}</div>
          </div>
          <div id="content-container">
            <ion-row>
              <ion-col col-8>
                <h2 class="white small-text"><b>MISSION NAME :</b> {{nextLaunch.mission_name}}</h2>
              </ion-col>
              <ion-col col-4 text-wrap>
                <ion-badge item-end color="primary">
                  Flight n°{{nextLaunch.flight_number}}
                </ion-badge>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-8>
                <h2 class="white small-text"><b>LAUNCH SITE :</b> {{nextLaunch.launch_site.site_name}}</h2>
              </ion-col>
              <ion-col col-4 text-wrap>
                <ion-badge item-end color="secondary">
                  {{nextLaunch.rocket.rocket_name}}
                </ion-badge>
              </ion-col>
            </ion-row>
          </div>
          <div id="video-container">
            <button *ngIf="nextLaunch.links.video_link" color="danger" ion-button small icon-end>LIVE<ion-icon name="logo-youtube"></ion-icon></button>
            <button *ngIf="!nextLaunch.links.video_link" color="black" ion-button small icon-end>PAS DE LIVE</button>
          </div>
        </div>
        <div id="seg-choice" style="background-image: url('assets/imgs/etoiles.jpg')">
          <ion-segment id="segment-choice-launches" [(ngModel)]="segmentChoice">
            <ion-segment-button value="past-launches">
              Past launches
            </ion-segment-button>
            <ion-segment-button value="next-launches">
              Next launches
            </ion-segment-button>
          </ion-segment>
        </div>
      </ion-card>

      <div id="list-launches" [ngSwitch]="segmentChoice" *ngIf="pastLaunches" style="flex: 1;">
        <ion-scroll style="width:100%;height:100%" scrollY="true" *ngSwitchCase="'past-launches'">
          <ion-grid padding style="background-image: url('assets/imgs/etoiles.jpg')">
            <ion-row>
              <ion-col class="grid-item-container" *ngFor="let launch of pastLaunches" (click)="goToLaunchDetail(launch)" col-4 text-center>
                <div class="grid-item">
                  <div class="opacity-image"></div>
                  <img [src]="launch.links.mission_patch_small" style="padding: 15px;">
                  <div class="opacity-title">{{launch.mission_name}}</div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-scroll>

        <ion-scroll style="width:100%;height:100%" scrollY="true" *ngSwitchCase="'next-launches'">
          <ion-grid padding>
              <ion-row>
                <ion-col class="grid-item-container" *ngFor="let launch of upcomingLaunches" (click)="goToLaunchDetail(launch)" col-4 text-center>
                  <div class="grid-item">
                    <div class="opacity-image"></div>
                    <img *ngIf="!launch.links.mission_patch_small" src="assets/imgs/spacex2.jpg" style="padding: 15px;">
                    <img *ngIf="launch.links.mission_patch_small" [src]="launch.links.mission_patch_small" style="padding: 15px;">
                    <div class="opacity-title">{{launch.mission_name}}</div>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
        </ion-scroll>
      </div>
    </div>

  </ion-content>

  <!--<ion-list>
      <button ion-item detail-none *ngFor="let launch of pastLaunches" (click)="goToLaunchDetail(launch)">
        <ion-avatar item-start>
          <img src="{{launch.links.mission_patch_small}}">
        </ion-avatar>
        <ion-badge color="secondary" *ngIf="launch.launch_success" float-end>Succeeded</ion-badge>
        <ion-badge color="danger" *ngIf="launch.launch_success == false" float-end>Failed</ion-badge>
        <h2>{{launch.mission_name}}</h2>
      </button>
    </ion-list>-->

  <!--<ion-list>
      <button ion-item detail-none *ngFor="let launch of upcomingLaunches" (click)="goToLaunchDetail(launch)">
        <ion-avatar item-start>
          <img src="assets/imgs/spacex.jpg">
        </ion-avatar>
        <h2>{{launch.mission_name}}</h2>
      </button>
    </ion-list>-->