page-launch-list {

  ion-card {
    text-align: center;
  }

  #card-homepage {
    position: fixed !important;
    width: 100%;
    z-index: 1;
    background: #fff;
  }

  .card-title {
    font-size: 2.2em;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.2em;
    color: #fff;
  }

  #title-container {
    position: absolute;
    top: 20%;
    width: 100%;
    transform : translateY(-20%);
  }

  #content-container {
    position: absolute;
    top: 65%;
    width: 100%;
    transform : translateY(-65%);
  }

  #video-container {
    position: absolute;
    top: 90%;
    width: 100%;
    transform : translateY(-90%);
  }

  #img-launch-container {
    position: relative;
  }

  #opacity-launch {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.5;
  }

  #segment-choice-launches {
    padding: 10px;
  }

  #space {
    position: relative;
    width: 100%;
    height: 63%;
  }

  .white {
    color: #fff !important;
  }

  .small-text {
    font-size: 0.9em;
  }

  .icon-spacex {
    background-repeat:no-repeat;
    background-position:center;
    height:9px;
    width:9px;
    background-size:contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    &:before {
        display:none;
    }
  }

}
