<!--
  Generated template for the LaunchListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.

<ion-header>
  <ion-navbar>
    <ion-title>
      HomePage
    </ion-title>
  </ion-navbar>
</ion-header>
-->


<ion-content class="card-background-page">
  <ion-card *ngIf="nextLaunch">
    <img src="assets/imgs/nextLaunch.jpg" class="launch-img"/>
    <ion-card-content>
      <ion-card-title>
          7d : 13h : 32m: 32s
      </ion-card-title>

      <ion-row>
        <ion-col col-8>
          <h2>Mission name : {{nextLaunch.mission_name}}</h2>
        </ion-col>
        <ion-col col-4 text-wrap>
          <ion-badge item-end>
            {{nextLaunch.rocket.rocket_name}}
          </ion-badge>

        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-segment [(ngModel)]="segmentChoice">
    <ion-segment-button value="past-launches">
      Past launches
    </ion-segment-button>
    <ion-segment-button value="next-launches">
      Next launches
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segmentChoice" *ngIf="pastLaunches">
    <ion-list *ngSwitchCase="'past-launches'">
      <button ion-item *ngFor="let launch of pastLaunches" (click)="goToLaunchDetail(launch)">
        <ion-avatar item-start>
          <img src="{{launch.links.mission_patch_small}}">
        </ion-avatar>
        <h2> {{launch.mission_name}}</h2>
        <p>{{launch.details}}</p>
      </button>
    </ion-list>

    <ion-list *ngSwitchCase="'next-launches'">
      <button ion-item *ngFor="let launch of upcomingLaunches" (click)="goToLaunchDetail(launch)">
        <ion-avatar item-start>
          <img src="{{launch.links.mission_patch_small}}">
        </ion-avatar>
        <h2> {{launch.mission_name}}</h2>
        <p>{{launch.details}}</p>
      </button>
    </ion-list>
  </div>

</ion-content>
