page-capsule-detail {

    .font-bold {
        font-weight: bold;
    }

    .blue-color {
        color: #516790;
    }

    .separator {
        width: 100%;
        height: 1px;
        background: white;
    }

}
