<!--
  Generated template for the LaunchDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{launch.mission_name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-image: url('assets/imgs/etoiles.jpg')">
  <ion-card style="background-image: url('assets/imgs/etoiles.jpg'); border: 1px solid white;">
    <ion-card-header>
      <ion-item style="background: transparent;">
        <ion-avatar item-start>
            <img style="border: solid 1px white;" src="assets/imgs/spacex.jpg">
        </ion-avatar>
        <h2 style="text-align: center;color: white;">{{launch.mission_name}}</h2>
      </ion-item>
      <ion-row>
          <ion-col col-4 style="text-align: center;">
            <ion-badge color="redpastel" style="font-size: 12px;color:red;">Flight n° {{launch.flight_number}}</ion-badge>
          </ion-col>
          <ion-col col-4 style="text-align: center;">
            <ion-badge color="bluepastel" style="font-size: 12px;color:blue;" (click)="goToRocketDetail()">{{launch.rocket.rocket_name}}</ion-badge>
          </ion-col>
          <ion-col col-4 style="text-align: center;">
            <ion-badge color="greenpastel" style="font-size: 10px;color:green;">{{launch.launch_site.site_name}}</ion-badge>
          </ion-col>
        </ion-row>
    </ion-card-header>
      
    <ion-row>
      <ion-col col-12>
        <div class="separator"></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 offset-3>
        <img *ngIf="launch.links.mission_patch" src="{{launch.links.mission_patch}}">
        <img *ngIf="!launch.links.mission_patch" src="assets/imgs/spacex2.jpg">
      </ion-col>
    </ion-row>
    <ion-card-content>
      <ion-row>
        <ion-col col-12>
          <p style="text-align: justify;color: white !important;">{{launch.details}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <div class="separator"></div>
        </ion-col>
      </ion-row>
      <ion-grid class="border-top-grey">
        <ion-row>
          <ion-col text-center *ngIf="launch.links.wikipedia">
            <div class="font-bold">
              <ion-icon name="logo-wordpress" color="bluepastel"></ion-icon>
            </div>
            <div class="blue-color">
              <a style="text-decoration: none; color: white;" href="{{launch.links.wikipedia}}">Wikipédia</a>
            </div>
          </ion-col>
          <ion-col text-center *ngIf="launch.links.article_link">
            <div class="font-bold">
              <ion-icon name="paper" color="bluepastel"></ion-icon>
            </div>
            <div class="blue-color">
              <a style="text-decoration: none; color: white;" href="{{launch.links.article_link}}">Article</a>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="border-top-grey">
        <ion-row>
          <ion-col text-center *ngIf="launch.links.presskit">
            <div class="font-bold">
                <ion-icon name="star" color="bluepastel"></ion-icon>
            </div>
            <div class="blue-color">
              <a style="text-decoration: none; color: white;" href="{{launch.links.presskit}}">SpaceX presskit</a>
            </div>
          </ion-col>
          <ion-col text-center *ngIf="launch.links.video_link">
            <div class="font-bold">
                <ion-icon name="logo-youtube" color="redpastel"></ion-icon>
            </div>
            <div class="blue-color">
              <a style="text-decoration: none; color: white;" href="{{launch.links.video_link}}">Youtube</a>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


</ion-content>
<!-- 
<ion-grid>
    <ion-row>
      <ion-col text-center class="font-bold">
        <a href="{{launch.links.video_link}}">
          <ion-icon name="logo-youtube" color="redpastel" large></ion-icon>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid> -->