<!--
  Generated template for the RocketListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      Rockets
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-image: url('assets/imgs/etoiles.jpg');">
  <ion-card style="margin-bottom: 30px;box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 15px !important;background-image: url('assets/imgs/etoiles.jpg');border: solid 1px white; border-radius: 6px;" *ngFor="let rocket of rockets" (click)="goToRocketDetail(rocket)">
    <div id="img-rocket-container" style="border: 1px solid white; border-radius: 6px;">
      <div class="opacity-rocket"></div>
      <img src="assets/imgs/rocket1.jpg" style="border-radius: 6px;">
      <div id="img-container">
        <ion-item style="background: transparent;">
          <ion-avatar item-start>
            <img style="border: solid 1px white;" src="assets/imgs/spacex.jpg">
          </ion-avatar>
        </ion-item>
      </div>
      <div id="title-container">
          <div id="card-rocket-title" style="text-transform: uppercase;">{{rocket.name}}</div>
      </div>
      <div id="badge-container">
        <ion-badge color="greenpastel" name="rounded" *ngIf="rocket.active" style="color:green;">Active</ion-badge>
        <ion-badge color="redpastel" name="rounded" *ngIf="rocket.active == false" style="color:red;">Inactive</ion-badge>
      </div>
    </div>
  </ion-card>
</ion-content>




